<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Magnus Taekwondo</h2>
        <p>Tu lugar para el aprendizaje y la excelencia en taekwondo.</p>
        <p>Visítanos en:</p>
        <address>
          123 Calle Taekwondo<br>
          Ciudad Taekwondo<br>
          Teléfono: (123) 456-7890<br>
          Correo Electrónico: info@magnustaekwondo.com
        </address>
      </div>
      <div class="col-md-6">
        <h3>Enlaces rápidos</h3>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/clases">Clases</a></li>
          <li><a routerLink="/horario">Horario</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

	<!-- ./Footer -->
