<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->






<!– Segmento 1 "Carrousefa" –>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" width="1340" height="1240" data-bs-interval="10000">
      <iframe width="1340" height="1240" src= "https://www.instagram.com/p/CnmfEGJO0E2/embed"  frameborder="0"></iframe>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item " width="1340" height="1240" data-bs-interval="2000">
      <iframe width="1340" height="1240" src="https://www.instagram.com/p/CnmfEGJO0E2/embed"
      frameborder="0"></iframe>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" width="1340" height="1240">
      <iframe width="1340" height="1640" src="https://www.instagram.com/p/CnK3Y5XOt0M/embed"frameborder="0"></iframe>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!– Segmento 2 "Switcherfa" –>

<div class="container position-relative "style=" opacity: 70% ; ">
  <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:-1;--j:0"  >
      <div class="cardbody text-center" >
          <div class="text-uppercase h4">Clases</div>
          <div class="text"> La primera clase es Gratuita, Disponemos de distintos planes explicados a continuacion:
          </div>
          <ul class="list-group">
            <li class="list-group-item disabled" aria-disabled="true">Primera Clase Gratuita</li>
            <li class="list-group-item">2 veces a la semana $ 30.000 clp</li>
            <li class="list-group-item">3 veces a la semana $ 35.000 clp</li>
            <li class="list-group-item">Todos los dias $ 50.000</li>
          </ul>

      </div>
  </div>
  <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:0;--j:1">
      <div class="cardbody text-center">
          <div class="text-uppercase h4">Horarios</div>
          <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta autem facere ipsum dolore? Architecto facilis accusamus voluptates asperiores aspernatur ab?</div>
      </div>
  </div>
  <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:1;--j:2">
      <div class="cardbody text-center">
          <div class="text-uppercase h4">Academias</div>
          <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta autem facere ipsum dolore? Architecto facilis accusamus voluptates asperiores aspernatur ab?</div>
      </div>

  </div>
</div>



<!– Segmento 3 "Eventosfa" –>
<app-eventos></app-eventos>
