<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<h3 class="mt-3 pb-3 mb-4 font-italic border-bottom">
  Noticias 1
</h3>
<div class="row">
  <div class="col-md-8">
     <div class="card mb-4 bg-dark text-white">
        <img class="card-img" src="//placeimg.com/780/270/any" alt="Card image">
        <div class="card-img-overlay">
           <h5 class="card-title">Noticia 1</h5>
           <p class="card-text">Este es el cuerpo de una noticia con cuerpo largo e imagen de relleno para Magnus.</p>
           <p class="card-text">Ultimo Update 3 mins ago</p>
        </div>
     </div>
  </div>
  <div class="col-md-4">
     <div class="card mb-4 bg-dark text-white">
        <img class="card-img" src="//placeimg.com/250/180/any" alt="Card image">
        <div class="card-img-overlay">
           <h5 class="card-title">Noticia 2</h5>
           <p class="card-text"> Este es el cuerpo de una noticia con cuerpo largo e imagen de relleno para Magnus. </p>
           <p class="card-text">Ultimo update 3 mins ago</p>
        </div>
     </div>
  </div>
</div>






<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="container">
   <h3 class="pb-3 mb-4 font-italic border-bottom">
      Noticias 2
   </h3>
   
   <div class="row">
  
      <div class="col-md-4">
         <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">Noticia 1</h5>
               <p class="card-text">Contenido noticia 1</p>
               <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Link contenido 1</a>
            </div>
         </div>
      </div>
   <div class="col-md-4">
    <div class="card mb-4 text-white bg-dark">
       <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
       <div class="card-body">
          <h5 class="card-title">Noticia 2</h5>
          <p class="card-text">Contenido noticia 2</p>
          <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Link contenido 2</a>
       </div>
    </div>
 </div>
<div class="col-md-4">
  <div class="card mb-4 text-white bg-dark">
     <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
     <div class="card-body">
        <h5 class="card-title">Noticia 3</h5>
        <p class="card-text">Contenido noticia 3</p>
        <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Link contenido 3</a>
     </div>
  </div>
</div>
</div>
 