<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!------ Segmento Horarios y Precios ---------->



<!------ Segmento Instagram ---------->
<div class="SegmentoIG">
<iframe width="33%" height="560" src="https://www.instagram.com/p/CTHudtBLu8G/embed" frameborder="0" scrolling="no" allowtransparency="allowtransparency"></iframe>
<iframe width="33%" height="560" src="https://www.instagram.com/p/CvOC2YVArts/embed" frameborder="0" scrolling="no" allowtransparency="allowtransparency"></iframe>
<iframe width="33%" height="560" src="https://www.instagram.com/p/CqYQcAJubdL/embed" frameborder="0" scrolling="no" allowtransparency="allowtransparency"></iframe>
</div>


<!------ Segmento de Eventos ---------->
<app-eventos></app-eventos>
