
<div class="container position-relative "style=" opacity: 70% ; ">
    <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:-1;--j:0"  >
        <div class="cardbody text-center" >
            <div class="text-uppercase h4">Clases</div>
            <div class="text"> La primera clase es Gratuita, Disponemos de distintos planes explicados a continuacion:
            </div>
            <ul class="list-group">
              <li class="list-group-item disabled" aria-disabled="true">Primera Clase Gratuita</li>
              <li class="list-group-item">2 veces a la semana $ 30.000 clp</li>
              <li class="list-group-item">3 veces a la semana $ 35.000 clp</li>
              <li class="list-group-item">Todos los dias $ 50.000</li>
            </ul>
  
        </div>
    </div>
    <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:0;--j:1">
        <div class="cardbody text-center">
            <div class="text-uppercase h4">Horarios</div>
            <ul class="list-group">
                <li class="list-group-item disabled" aria-disabled="true">Lunes a Viernes</li>
                <li class="list-group-item">20:30-22:00</li>
                <li class="list-group-item disabled" aria-disabled="true">Domingos</li>
                <li class="list-group-item">12:00 - 14:00 pm</li>
              </ul>
        </div>
    </div>
    <div class="card position-absolute d-flex align-items-center justify-content-center" style="--i:1;--j:2">
        <div class="cardbody text-center">
            <div class="text-uppercase h4">Sistema Integrado de tecnologia deportiva</div>
            <div class= "text">Aparte de contar con tecnologia de petos electronicos para nuestros Danes , contamos con un sistema de ranking interno el cual se ira implementando a medida pase el año.            </div>
        </div>
  
    </div>
  </div>