body {
    background-color:#1d1d1d !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:10px;
    font-size:16px;
  }

  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }


  .green{
    background-color:#93969c;
  }
          .thumb{
              margin-bottom: 30px;
          }

          .page-top{
              margin-top:85px;
          }


  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }


  .transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {

       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;
      }

/* CSS del drop down*/.dropbtn {
  background-color: #93969c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 50% 50%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #93969c;
}


/* Boton Calendario  */
.botonCalendario{
  min-width: 250px;
  text-align:center;

}
/* Calendario  */
.Calendario1{

  border: 3px solid #555;
}


/* Luna  */
.luna {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #d9534f;
  -webkit-box-shadow: 30px 10px 0 #d9534f;
  box-shadow: 30px 10px 0 #d9534f;
}

/* Ribbon  */
.ribbon {
  width: 0px;
  height: 120px;
  border-left: 50px solid #d9534f;
  border-right: 50px solid #d9534f;
  border-bottom: 35px solid transparent;
}
