<div class="text-center text-light"><h3 >
  {{Title1}}
</h3></div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
<!-- Start your code here -->
<div class="panel panel-default event">
  <div class="panel-body">
    <div class="rsvp col-xs-2 col-sm-2">
      <i>27 y 28</i>
      <br>
      <i>Mayo</i>
      <div class="hidden-xs">

      </div>
    </div>
    <div class="info col-xs-8 col-sm-7">
      Copa de Acero
      <div class="visible-xs">   Copa Acero 2023 Taekwondo El torneo más grande del Biobío   27 y 28 de mayo</div>
      <div class="hidden-xs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Localidad</a></li>
            <li role="presentation"><a href="https://www.tknet.cl/campeonato-copa-acero-2023/bases" aria-controls="profile" role="tab" data-toggle="tab">Bases</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="location">📍Club Deportivo Huachipato, Talachuano</div>
            <div role="tabpanel" class="tab-pane" id="profile"></div>
          </div>
        </div>
    </div>
    <div class="author col-xs-2 col-sm-3">
        <div class="profile-image">
            <img src="https://www.instagram.com/p/CmHnvViuY8i/embed"/>
        </div>
        <div class="profile hidden-xs">
            <strong>Magnus Taekwondo</strong>
            <article>Academia Principal</article>
            <div class="links hidden-sm">

            </div>
        </div>

    </div>
  </div>


