<div class="membership">
  <div class="container">
    <h1>Membresías de Taekwondo</h1>
    <div class="membership-details">
      <h2>Membresía Básica</h2>
      <p>Acceso ilimitado a clases regulares.</p>
      <p>Horarios flexibles.</p>
      <p>Costo: $50 al mes.</p>
    </div>
    <div class="membership-details">
      <h2>Membresía Avanzada</h2>
      <p>Acceso ilimitado a clases regulares y clases avanzadas.</p>
      <p>Horarios flexibles.</p>
      <p>Entrenamiento personalizado.</p>
      <p>Costo: $80 al mes.</p>
    </div>
  </div>
</div>
