.membership {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.membership h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.membership-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  max-width: 300px;
  text-align: left;
}

.membership-details h2 {
  font-size: 24px;
  margin: 10px 0;
}

.membership-details p {
  font-size: 16px;
  margin: 5px 0;
}

.membership-details:last-child {
  margin-right: 0;
}

.membership-details:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
